body {
  padding: 20px;
  background-color: #343434;
}

.chat-list {
  overflow-y: scroll;
  height: 700px;
  padding: 0;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.message {
  list-style: none;
}

.message img {
  padding: 10px;
}
